@model List<lab1_ef.Employee>

@{
    for (var i = ViewBag.StartIndex; i < Model.Count && i < ViewBag.StartIndex + 5; i++)
    {
        var currentModel = Model[i] as lab1_ef.Employee;
        <tr id="@currentModel.Name" class="item-line">
            <td>
                @currentModel.Name
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@currentModel.EmployeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@currentModel.EmployeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@currentModel.EmployeeId">Delete</a>
            </td>
        </tr>
    }
    <tr>
        <td>
            <div class="input-group">
                @if (ViewBag.StartIndex > 0)
                {
                    <input type="button" value="<<" class="btn btn-primary pagepicker" id="prevPage" />
                }
                @for (var i = 0; i < Model.Count / 5 ||
                 i == Model.Count / 5 && Model.Count % 5 > 0; i++)
                {
                    if (i == (ViewBag.StartIndex / 5 as int?))
                    {
                        <input type="button" value="@i" class="btn btn-primary pagepicker picked-page" id="currentPage" />
                    }
                    else
                    {
                        <input type="button" value="@i" class="btn btn-primary pagepicker" />
                    }
                }
                @if (ViewBag.StartIndex / 5 < Model.Count / 5)
                {
                    <input type="button" value=">>" class="btn btn-primary pagepicker" id="nextPage" />
                }
            </div>
        </td>
    </tr>
}
<script src="~/js/EmployeesSortedList.js"></script>