@model IEnumerable<lab1_ef.ServiceType>
@using lab4_igi
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper "*, lab5_igi"

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<link href="~/css/data.css" rel="stylesheet" />

<p>
    <a asp-action="Create">Create New</a>
    |
    <go-home></go-home>
</p>
<div class="input-group">
    @Html.Glyicon()
    <input id="find" value="@GetFromSession("ServiceType.Finding")" name="find" class="form-control" />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
                <input type="checkbox" id="sort-first"
                       checked="@(GetFromSession("ServiceType.Filter.First") == "True" ? true : false)" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
                <input type="checkbox" id="sort-second"
                       checked="@(GetFromSession("ServiceType.Filter.Second") == "True" ? true : false)" />
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="list"></tbody>
</table>

<div>
    <div>User Actions history:</div>
    <div>
        <ul>
            @foreach (var act in ViewBag.UserActions as List<string>)
            {
                <li>@act</li>
            }
        </ul>
    </div>
</div>

@section Scripts{
    <script src="~/js/Index.js"></script>
    <script src="~/js/ServiceTypes.Index.js"></script>
}

@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@functions{
    public string GetFromSession(string key)
    {
        var findingTextJSON = Context.Session.GetString(key);
        var findingText = findingTextJSON == null ? "" :
            JsonConvert.DeserializeObject<string>(findingTextJSON);
        return findingText;
    }
}
